.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.navbar .logo {
    width: 150px;
    height: 50px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    columns: #49557e;
    gap: 20px;
}

.navbar-right {
    display: flex;
    gap: 40px;
    align-items: center;
}

.navbar button {
    background: transparent;
    color: #49557e;
    border: 2px solid tomato;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: #fff5f2;
}

.navbar a {
    line-height: 1;
}

.navbar .active {
    padding-top: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar li {
    cursor: pointer;
}

.navbar-search-icon {
    position: relative;
    display: inline-block;
}

.navbar-search-icon .dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: tomato;
    border-radius: 50%;
    top: -5px;
    right: -5px;
}