.navbar {
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}

.navbar .logo {
    width: 200px;
    height: 100px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    columns: #49557e;
    gap: 20px;
}

.navbar-right {
    display: flex;
    gap: 40px;
    align-items: center;
}

.navbar button {
    background: transparent;
    color: #49557e;
    border: 2px solid tomato;
    font-size: 18px;
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

.navbar button:hover {
    background-color: #fff5f2;
}

.navbar a {
    line-height: 1;
}

.navbar .active {
    padding-top: 2px;
    border-bottom: 2px solid #49557e;
}

.navbar li {
    cursor: pointer;
}

.navbar-search-icon {
    position: relative;
    display: inline-block;
}

.navbar-search-icon .dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: tomato;
    border-radius: 50%;
    top: -5px;
    right: -5px;
}

.navbar-profile {
  position: relative;
}

.nav-profile-dropdown {
  position: absolute;
  display: none;
  right: 0;
  z-index: 1;
}

.navbar-profile:hover .nav-profile-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff2ef;
  padding: 12px 25px ;
  border-radius: 4px;
  border: 1px solid tomato;
  outline: 2px solid white;
  list-style: none;
}
.nav-profile-dropdown li {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.nav-profile-dropdown{
    width: 20px;
}
.nav-profile-dropdown li:hover{
    color: tomato;
}





@media (max-width:1050px){
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}
@media (max-width:900px){
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}


@media (max-width:750px){
   
    .navbar-menu{
      display: none;
    }
}